body {
	background-color: #EDE1E1;
	font-family: 'Montserrat', sans-serif;
}

h1 {
	width: 100%;
	text-align: center;
	font-size: 2.5em;
	font-weight: bold;
}

p {
	font-size: 1.5em;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

img {
	width: 500px;
	position: relative;
	left: calc( 50% - 250px );
}