#titles
{
	font-family: 'Almendra', serif;
	width: 100%;
	text-align: center;
}

h1
{
	font-size: 3em;
	margin-bottom: 0;
}

h2
{
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 2em;
	font-style: italic;
}

hr
{
	border: solid black 1px;
	width: 200px;
}

h3
{
	font-size: 1em;
	margin-bottom: 0;
}

#titles span
{
	font-style: italic;
}
