@import url(http://fonts.googleapis.com/css?family=Nosifer);

html {
	background-color: #752222;
	font-family: sans-serif;
}

header {
	font-family: 'Nosifer', cursive;
	width: 100%;
	text-align: center;

	h1 {
		margin-bottom: 0;
	}

	a {
		text-decoration: none;
		color: inherit;
	}
}

#control-bar {
	width: 100%;
	overflow: hidden;
	margin-bottom: 10px;

	#control-list {
		width: 700px;
		margin: 0 auto;
		list-style: none;
		height: 50px;

		li {
			float: left;
			height: 50px;
			line-height: 25px;
			padding-left: 20px;
			padding-right: 20px;
			text-align: center;

			input {
				width: 70px;
			}
		}

		li:first-child {
			padding-left: 0;
		}

		li:last-child {
			padding-right: 0;
		}
	}
}

#canvas-frame {
	width: 100%;
	text-align: center;

	canvas {
		border: solid black 1px;
	}
}