@import url(http://fonts.googleapis.com/css?family=Nosifer);

html {
	background-color: #752222;
	font-family: sans-serif;
}

a {
	color: inherit;
}

header {
	font-family: 'Nosifer', cursive;
	width: 100%;
	text-align: center;

	h1 {
		margin-bottom: 0;
	}

	a {
		text-decoration: none;
	}
}

#control-bar {
	width: 100%;
	overflow: hidden;

	#control-list {
		width: 700px;
		margin: 0 auto;
		list-style: none;

		li {
			float: left;
		}
	}
}

canvas {
	border: solid black 1px;
}

#canvas-frame {
	width: 100%;
	text-align: center;
}